dev.box-row{text-align:left}
p{text-align:left}
h1.title{text-align:center;}
h2.remind{color:red;}
nav{
  line-height:30px;
  background-color:#eeeeee;
  height:530px;
  width:200px;
  float:left;
  padding:5px;
}
